/setup/kaggle-environments
.vscode/
/setup/*
!/setup/football/
!/setup/football/**
/data/*
result
.ipynb_checkpoints
__pycache__/
*.egg-info/
test
offline_dataset*
ORL_LOG**
IRL_LOG/**
*sampled_data/**
low_level_results/
**imaginary_dataset/**
llm/imaginary_dataset/**
llm/sampled_data/**
imaginary_dataset_0130/**
llm/imaginary_dataset_0130/**
llm/imaginary_dataset/**
llm/imaginary_dataset**
.history/
IRL_LOG_MODEL/
*/eval_result/*
*/__pycache__/
/saved_model/*
model_output_test/
local_config.py
tictactoe/*.json
/setup/football/gfootball_engine/
/setup/football/third_party/gfootball_engine/fonts/
/setup/football/gfootball_engine
